<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>{% block title %}GenFlix{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <script src="{{ url_for('static', filename='js/base.js') }}" defer></script>
    {% block script %}{% endblock %}
</head>

<body>
    <header>
        {% block search_bar %}
        <form id="headerSearchForm" action="/search" method="GET" class="search-bar">
            <input type="text" name="q" placeholder="Search TV series..." required>
            <button type="submit">Search</button>
        </form>
        {% endblock %}

        <nav>
            <a href="/home">Home</a>
            {% if session.get('username') %}
                <a href="#" id="nav-logout-btn">Sign out</a>
            {% else %}
                <a href="/auth">Sign in</a>
            {% endif %}
        </nav>
    </header>
    <main>
        <div>
            {% block content %}{% endblock %}
        </div>
    </main>
</body>

</html>